<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>jersey-json-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.epam.note.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

  <servlet-mapping>
    <servlet-name>jersey-json-serlvet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

    <!--security START-->
    <!--fist role start-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ConstraintZone</web-resource-name>
            <url-pattern>/home</url-pattern>
            <url-pattern>/login</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <!--fist role end-->

    <!--second role start-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ConstraintZone</web-resource-name>
            <url-pattern>/home</url-pattern>
            <url-pattern>/login</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>User</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>User</role-name>
    </security-role>
    <!--second role end-->

<!--Login method auth-->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>JDBC_REALM</realm-name>
    </login-config>

</web-app>
